body{
    color:white;
    background-color: black;
    margin:0px auto;
}

body *{
    margin:0px auto;
}

img{
    width:49%;
    height:400px;
    border:2px solid lightgray;
    text-align: center;
    margin:3px;
}

.images{
    margin: 0px auto;
}